<div class="container">
  <div class="main">
    <h2>TODO LIST</h2>
    <h3>Plan your task and achieve maximum productivity</h3>
    <br>
    <div id="first">
      <input (input)="addText($event)" id="inp">    
    <button (click)="addTask()">Add Task</button>
    </div>    
    <img *ngIf="tasks.length==0" src="assets/sample.png" alt="pic" width="200px">
    <div *ngFor="let i of tasks; let ind=index" id="task">
      <input type="checkbox" (input)="taskCompleted(ind)">
       <li style="list-style: none;"> {{i}}</li>
      <img src="assets/delete.png" style="cursor: pointer;" alt="" width="25px" 
      (click)="deleteTask(ind)">
    </div>
    <h3 *ngIf="completed.length!=0">Completed task </h3>  
    <li *ngFor="let j of completed" style="list-style: none;text-decoration: line-through;">{{j}}</li>     
  </div>
</div>