<div class="container">
  <div class="main">
    <h2>TODO LIST</h2>
    <h3>Plan your task and achieve maximum productivity</h3>
    <br>
    <div id="first">
      <input (input)="addText($event)" id="inp">    
    <button (click)="addTask()">Add Task</button>
    </div>
    
    <div *ngFor="let i of tasks; let ind=index" id="task">
       <li> {{i}}</li>
      <img src="assets/delete.png" style="cursor: pointer;" alt="" width="25px" 
      (click)="deleteTask(ind)">
    </div>
    <h3 *ngIf="tasks.length!=0">Completed task </h3>
    
         
    
    <img *ngIf="tasks.length==0" src="assets/sample.png" alt="pic" width="200px">
    
    
    
  </div>
</div>